body {
  margin: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 150%;
}

h1 {
  font-size: 5.625rem;
  /*100% = 1em = 16px*/
  /* rem = most adaptable  */
  margin-top: 50px;
  font-family: 'Dancing Script', cursive;
  margin: 50px auto 0 auto;
  color: #2f2519;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  color: #393e46;
  padding: 25px 0 8px;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  color: #ba7967;
  padding: 20px;
}

hr {
  border-style: dotted none none none;
  width: 10%;
  border-width: 0.7rem;
  border-color: #0c4b8e;
  margin-top: 30px;
}

p {
  line-height: 1.5;
}

.top-container {
  background-color: #79c2d0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #fcf8e8;
  font-size: 1.4rem;
}

.bottom-container {
  background-color: #5585b5;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 335px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  margin-top: 35px;
  height: 15%;
  width: 15%;
}

.intro {
  width: 40%;
  margin: auto;
}


.bottom-container {
  font-weight: normal;
}

.copyright{
  color: white;
  font-size: 0.95rem;
  padding-top: 15px;
}

/* Top Container */
.navbar-btn{
  color: #4cbbb9;
  font-family: 'Work Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

navbar-btn:hover{
  color: #beebe9;
}

/* Middle Container */

  /* Skill Part   */
.skills{
  background-color: #fee9b2;
}
.skill-row{
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin: 10px auto 10px auto;
}
.kasa-design {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.computer-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.carousel-control-prev{
  color: #daa592;
}
.carousel-control-next{
  color: #daa592;
}

  /* Contact Me part */

.contact-me-words{
  padding-bottom: 20px;
}
.contact-btn {
  background-color: #ffb6b9;
  color: inherit;
  font-size: 28px;
  border-style: solid;
  border-radius: 15px;
  text-decoration: none;
  margin: 20px;
  padding: 15px;
}
contact-btn:hover{
  background-color: #ffe4e4;
  text-decoration: none;
  color: white;
}

/* Bottom Container */
.footer-btn{
  color: #4cbbb9;
  font-family: 'Work Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

footer-btn:hover{
  color: #beebe9;
}
